.lf{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-left: 200px;
    border-radius: 10px;
    background-color:rgb(230, 206, 177);
    margin-top: 200px;
    cursor: pointer;
}
#email{
    font-weight: bold;
    margin-left: 10px;
}
#password{
    font-weight: bold;
    margin-left: 10px;
}
#btn{
    text-align: center;
    height: 30px;
    font-weight: bold;
    margin-left: 55px;
    font-size: 20px;
    margin-top: 20px;
}
#close{
    border: none;
    position: absolute;
    margin-left: -30px;
    margin-top: 4px;
    width: 25px;
}